body {
    background-color: #FDF4F5;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: white;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;


}
select {
    display: block;
    width: 100%;
    border: 4px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;

}

h1 {
    text-align: center;
   
}
h2 {
    margin: 0 0 5px;
}

.city {
    display: flex;
    margin: 20px 0;
    padding: 20px 0;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
    border-bottom: none;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 48px;
    font-weight: bold;
}

.time small {
    font-size: 22px;
    vertical-align: middle;
    line-height: 36px;

}

footer {
    text-align:center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    
}
    